<div class="modal">
    <div class="m-x">
        <button class="">-</button>
    </div>
    <div class="m-cont">
        <div class="m-tittle">
            <p>Producto</p>
        </div>
        <div class="grid grid-cols-4 grid-rows-3 gap-x-1 gap-y-1 justify-between items-end">
            <div class="img-product-b col-span-1 row-span-2 border-solid border-black">
                <img class="img-camera" src="assets/icons/heroicons/solid/camera-solid.svg" alt="">
                <img class="img-product" src="assets/Imagenes/default-product.png" alt="">
            </div>
            <div class="col-span-1 row-span-1 ">
                <div class="form__group">
                    <div class="relative">
                      <input
                        type="text"
                        id="sUsuario"
                        
                        class="peer block"
                        placeholder=" "
                        formControlName="sUsuario" />
                      <label
                        for="email"
                        class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-500 dark:bg-night-700 dark:text-night-200">
                        Identificador
                      </label>
                    </div>
                    <!-- <div *ngIf="submitted && f['sUsuario'].errors" class="is__invalid-error">
                      <div *ngIf="f['sUsuario'].errors['sUsuario']">Campo requerido</div>
                      <div *ngIf="f['sUsuario'].errors['sUsuario']">E-mail tiene un formato invalido</div>
                    </div> -->
                </div>
            </div>
            <div class="col-span-2 row-span-1">
                <div class="form__group">
                    <div class="relative">
                      <input
                        type="text"
                        id="sUsuario"
                        
                        class="peer block"
                        placeholder=" "
                        formControlName="sUsuario" />
                      <label
                        for="email"
                        class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-500 dark:bg-night-700 dark:text-night-200">
                        Nombre del producto
                      </label>
                    </div>
                    <!-- <div *ngIf="submitted && f['sUsuario'].errors" class="is__invalid-error">
                      <div *ngIf="f['sUsuario'].errors['sUsuario']">Campo requerido</div>
                      <div *ngIf="f['sUsuario'].errors['sUsuario']">E-mail tiene un formato invalido</div>
                    </div> -->
                </div>
            </div>
            <div class="col-span-3 row-span-1">
                <div class="form__group">
                    <div class="relative">
                      <input
                        type="text"
                        id="sUsuario"
                        
                        class="peer block"
                        placeholder=" "
                        formControlName="sUsuario" />
                      <label
                        for="email"
                        class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-500 dark:bg-night-700 dark:text-night-200">
                        Descripción
                      </label>
                    </div>
                    <!-- <div *ngIf="submitted && f['sUsuario'].errors" class="is__invalid-error">
                      <div *ngIf="f['sUsuario'].errors['sUsuario']">Campo requerido</div>
                      <div *ngIf="f['sUsuario'].errors['sUsuario']">E-mail tiene un formato invalido</div>
                    </div> -->
                </div>
            </div>
            <div class="col-span-1 row-span-1">
                <div class="form__group">
                    <div class="relative">
                      <input
                        type="text"
                        id="sUsuario"
                        
                        class="peer block"
                        placeholder=" "
                        formControlName="sUsuario" />
                      <label
                        for="email"
                        class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-500 dark:bg-night-700 dark:text-night-200">
                        Precio
                      </label>
                    </div>
                    <!-- <div *ngIf="submitted && f['sUsuario'].errors" class="is__invalid-error">
                      <div *ngIf="f['sUsuario'].errors['sUsuario']">Campo requerido</div>
                      <div *ngIf="f['sUsuario'].errors['sUsuario']">E-mail tiene un formato invalido</div>
                    </div> -->
                </div>
            </div>
        </div>        
    </div>
    <div class="m-pie">
        <button>
            <img src="assets/icons/heroicons/solid/trash-solid.svg" alt="" width="15">
            Eliminar
        </button>
        <button>
            <img src="assets/icons/heroicons/solid/disk-solid.svg" alt="" width="15">
            Guardar
        </button>
    </div>
</div>